#personelTablosu{
    position: absolute;
    top: -320px;
    left: -766px;
    text-align: center;
    width: 1600px;
}


#tc-personel{
    position: absolute;
    top: -400px;
    right: 510px;
    text-align: center;
    height: 38px;
    font-size: 20px;
    border-radius: 3px;
}
#sorgula-personel{
    position: absolute;
    top: -400px;
    right: 423px;
}
#personelekle{
    position: absolute;
    top: -400px;
    right: 300px;
    width: 150px;
}
#lbl-tc-personel{
    position: absolute;
    top: -430px;
    right: 570px;
    width: 200px;
}

.btn-tablo{
    font-size: 12px;
}
